<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<div th:replace="fragments/header" />
<title>Selecione seu UFFMail</title>
</head>
<body>
	<div class="container">
		<div>
			<h1>Cadastro UFFMail <small> Dev</small></h1>
		</div>
		<div>
			<form action="#" th:action="@{/registerUFFMail}"
				th:object="${emailRegistrationForm}" method="post">
				<div class="form-group">
				<label for="selectEmail">Selecione um email</label> <select style="width: 300px; height: 45px;"
					class="form-control" id="selectEmail" th:field="*{selectedEmail}">
					<option th:each="email : *{emailSuggestions}" th:value="${email}"
						th:text="${email}">Wireframe</option>
				</select> 
				<button type="submit" class="btn btn-default" style="margin-top: 20px">Enviar</button>
				<input type="hidden" th:field="*{enrollcode}" />
				</div>
			</form>
		</div>
	</div>
	
</body>
</html>